body {
	margin: 0px;
}

.title {
	background-color: lightgray;
	height: 60px;
}

.header {
	background-color: yellow;
	height: 60px;
}

.main {
	background-color: powderblue;
	position: absolute;
	top: 120px;
	left: 100px;
	height: 500px;
	width: 500px;
}
/*------------aside------------------------*/
.aside {
	background-color: white;  /*before tomato*/
	position: absolute;
	top: 120px;
	right: 100px;
	height: 500px;
	width: 500px;
}

.aside nav {
	margin-left: 5px;
	color: #586069;
	width: 170px;
	margin-bottom: 15px;   /*nav and url space*/
}

.aside nav .left-line {
	border-left: 1px solid lightgrey;
	font-size: 5px;
	color: white;

}

.aside nav .code {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-right-radius: 5px;
	/*right:red border*/
	border-bottom-right-radius: 5px;
	border-right: 3px solid red;
}

.aside nav .code a{
	color:black;
}

.aside nav .middle {
	padding-left: 10px;
	border-left: 1px solid lightgrey;
}

.aside nav .middle .issues{
	padding-top:10px;
}
.aside nav .middle .requests{
	padding-top:10px;
	padding-bottom:10px;
}

.aside nav .number {
	float: right;
	line-height: 1;
	font-size: 12px;
	padding: 2px 5px;
	border-radius: 20px;
	color: #444d56;
	background-color: rgba(27,31,35,0.08);
	line-height: 1;
	display: inline-block;
	vertical-align: text-top;
}

.aside nav .bottom {
	padding-left:10px;
	border-top: 1px solid lightgrey;
	padding-bottom:20px;
	border-left: 1px solid lightgrey;
}

.aside nav .middle a {
	padding-top:5px;
	display: block;
}
.aside nav .bottom a {
	padding-top:10px;
	display:block;
}
.aside nav a {
	text-decoration: none;
}
/*----------octicon------*/
.octicon {
	fill:grey;
	display: inline-block;
  vertical-align: text-top;
}
.octicon-black{
	fill:black;
	display: inline-block;
  vertical-align: text-top;
}

/*----------aside-nav,middle------------------------*/

.aside .aside-clone-url {
	margin-left: 5px;
	color: #586069;
}

.aside .aside-clone-url .top-word {
	font-size:12px;
	margin-bottom:5px;
}

.aside .aside-clone-url .aside-form{
	width:170px;
}
.aside .aside-clone-url .aside-form span{
	padding:5px;
}

.aside .aside-clone-url .aside-form #aside-form-left{
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-top:6px;
}


.aside .aside-clone-url .aside-form span form{
	display:inline;
	/*important*/
}

#aside-form-input {
	border:1px solid white;
	width: 120px;
	font-size:15px;
	color:#586069;
}
#aside-form-space{
	padding-top:6px;
	background-image: linear-gradient(to bottom, white, rgba(27,31,35,0.08));
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.aside .aside-clone-url a {
	text-decoration: none;
}

.aside .aside-clone-url .you-can-clone {
	margin-top:15px;
	color: grey;
	font-size: 12px;
}

/*--------------footer------------------------*/

.aside .aside-footer {

	margin-top: 10px;
	margin-left: 5px;

}
.aside .aside-footer {
	width: 170px;
}

.aside .aside-footer div .aside-bottom-box {
	border: 1px solid lightgrey;
	padding : 2px;
	text-align: center;
	margin-bottom: 10px;
	border-radius:5px;
	font-size: 15px;
	background-image: linear-gradient(to bottom, white, rgba(27,31,35,0.08));
}

.aside-bottom-word {
	text-decoration: none;
	color:black;
	font-weight: bold;
}
/*--------------------------aside end----------------------------*/

.footer {
	background-color: lightblue;
	position: fixed;
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
