body {
	margin: 0px;
}

.title {
	background-color: lightgray;
	height: 60px;
}

.header {
	background-color: yellow;
	height: 60px;
}

.main {
	background-color: powderblue;
	position: absolute;
	top: 120px;
	left: 100px;
	height: 500px;
	width: 500px;
}
/*------------aside------------------------*/
.ju-aside {
	background-color: white;
	position: absolute;
	top: 120px;
	right: 100px;
	height: 500px;
	width: 500px;
}

/*      octicon      */

.ju-octicon {
	fill:grey;
	display: inline-block;
  vertical-align: text-top;		/*octicon vertically middle*/
}
.ju-octicon-black{
	fill:black;
	display: inline-block;
  vertical-align: text-top;
}

/*     number     */

.ju-aside .ju-number {
	float: right;
	font-size: 13px;
	font-weight:bold;
	padding: 2px 5px;
	border-radius: 10px;
	color: #444d56;
	background-color: rgba(27,31,35,0.08);
	display: inline-block;
	vertical-align: text-top;
	line-height:1;
}

.ju-aside nav {
	margin-left: 5px;
	color: #586069;
	width: 170px;
	/*nav and middle space*/
	margin-bottom: 15px;
}

.ju-aside nav a {
	text-decoration: none;
}

#ju-left-line {
	border-left: 1px solid lightgrey;
	font-size: 5px;
	color: white;
	height: 15px;
}

.ju-code {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-right-radius: 5px;
	/*right:red border*/
	border-bottom-right-radius: 5px;
	border-right: 3px solid red;
}

.ju-code a{
	color:black;
}

.ju-top-middle {
	padding-left: 10px;
	padding-top:15px;
	border-left: 1px solid lightgrey;
}

.ju-top-middle a {
	padding-bottom:20px;	/*issue & request space, request bottom space*/
	display: block;
	color:#0000EE
}

/*top-bottom*/

.ju-top-bottom {
	padding-left:10px;
	padding-top:15px;
	border-top: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
}

.ju-top-bottom a {
	padding-bottom:20px;	/*spaces*/
	display:block;
	color:#0000EE;
}



/*----------aside-middle------------------------*/

.ju-middle {
	margin-left: 5px;
	color: #586069;
	width:170px;
}

.ju-middle-top {
	font-size:12px;
	margin-bottom:10px;
}

.ju-aside-form span{
	padding:5px;
}

#ju-aside-form-left{
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*form and button inline*/

.ju-aside-form span form{
	display:inline;
}

#ju-aside-form-input {
	border:1px solid white;
	width: 110px;
	font-size:14px;
	color:#586069;
	padding-left:5px;
}

#ju-aside-form-right{
	/*gradient*/
	background-image: linear-gradient(to bottom, white, rgba(27,31,35,0.08));
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	vertical-align:middle;
	padding-left:10px;
	padding-right:10px;
}

.ju-you-can-clone {
	margin-top:15px;
	color: gray;
	font-size: 12px;
}

.ju-you-can-clone a {
	text-decoration: none;
	color:#0000EE;
}

/*--------aside-bottom------------------------*/

.ju-bottom {
	margin-top: 20px;
	margin-left: 5px;
	width: 170px;
}

.ju-bottom .ju-aside-bottom-box {
	border: 1px solid lightgrey;
	padding :3px 0px;
	text-align: center;
	margin-bottom: 10px;
	border-radius:5px;
	background-image: linear-gradient(to bottom, white, rgba(27,31,35,0.08));
}

.ju-bottom-word-black {
	text-decoration: none;
	color:black;
	font-weight: bold;
	font-size:14px;
}

/*--------------------------aside end----------------------------*/

.footer {
	background-color: lightblue;
	position: fixed;
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
