body {
	margin: 0px;
}

.title {
	background-color: lightgray;
	height: 60px;
}

.header {
	background-color: yellow;
	height: 60px;
}

.main {
	background-color: powderblue;
	position: absolute;
	top: 120px;
	left: 100px;
	height: 500px;
	width: 500px;
}
/*------------aside------------------------*/
.ju-aside {
	background-color: white;
	position: absolute;
	top: 120px;
	right: 100px;
	height: 500px;
	width: 500px;
}

/*      octicon      */

.ju-octicon {
	fill:grey;
	display: inline-block;
  vertical-align: text-top;		/*octicon vertically middle*/
}
.ju-octicon-black{
	fill:black;
	display: inline-block;
  vertical-align: text-top;
}

/*     number     */

.ju-aside .ju-number {
	float: right;
	font-size: 13px;
	font-weight:bold;
	padding: 2px 5px;
	border-radius: 10px;
	color: #444d56;
	background-color: rgba(27,31,35,0.08);
	display: inline-block;
	vertical-align: text-top;
	line-height:1;
}

/*aside nav(top)*/

.ju-aside nav {
	margin-left: 5px;
	color: #586069;
	width: 170px;
	/*nav and middle space*/
	margin-bottom: 15px;
}

.ju-aside nav a {
	text-decoration: none;
}

#ju-left-line {
	border-left: 1px solid #d1d5da;
	font-size: 5px;
	color: white;
	height: 10px;
}

.ju-code {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #d1d5da;
	border-bottom: 1px solid #d1d5da;
	border-top-right-radius: 5px;
	/*right:red border*/
	border-bottom-right-radius: 5px;
	border-right: 3px solid red;
}

.ju-code a{
	color:black;
}

.ju-top-middle {
	padding-left: 10px;
	padding-top:15px;
	border-left: 1px solid #d1d5da;
}

.ju-top-middle a {
	padding-bottom:20px;	/*issue & request space, request bottom space*/
	display: block;
	color:#0000EE
}

/*top-bottom*/

.ju-top-bottom {
	padding-left:10px;
	padding-top:15px;
	border-top: 1px solid #d1d5da;
	border-left: 1px solid #d1d5da;
}

.ju-top-bottom a {
	padding-bottom:20px;	/*spaces*/
	display:block;
	color:#0000EE;
}



/*----------aside-middle------------------------*/

.ju-middle {
	margin-left: 5px;
	color: #586069;
	width:170px;
}

.ju-middle-top {
	font-size:12px;
	margin-bottom:5px;
}
/*form and button inline*/

.ju-input-group {
	display:table;
	box-sizing:border-box;
	list-style:none;
}

.ju-input-space {
	display:table-cell;
	font-size:15px;
	line-height:20px;

	border:1px solid #d1d5da;
	border-radius:3px;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	padding:3px 5px;
	padding-left:8px;

	vertical-align:middle;
	color:#24292e;
	cursor:text;
	width:122px;
}

.ju-input-group-button {
	display:table-cell;
	vertical-align:middle;
	border:1px solid rgba(27,31,35,.2);
	font-weight:600px;
	cursor:pointer;
	background-size: 110% 110%;
	position:relative;
	border-left:none;
	border-radius:3px;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}

.ju-clipboard-copy {
	font-size:12px;
	line-height:20px;
	padding:3px 10px;
	background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  color: #24292e;
	display: inline-block;
}


.ju-octicon-submit {
	vertical-align: text-top;
}

/* form end*/


.ju-you-can-clone {
	margin-top:5px;
	color: gray;
	font-size: 12px;
}

.ju-you-can-clone a {
	text-decoration: none;
	color:#0000EE;
}
.ju-octicon-question {
	fill:black;
	vertical-align: text-top;
	height:12px;
}

/*--------aside-bottom------------------------*/

.ju-bottom {
	margin-top: 20px;
	margin-left: 5px;
	width: 170px;
}

.ju-bottom .ju-aside-bottom-box {
	border: 1px solid lightgrey;
	padding :3px 0px;
	text-align: center;
	margin-bottom: 10px;
	border-radius:5px;
	background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}

.ju-bottom-word-black {
	text-decoration: none;
	color:black;
	font-weight: bold;
	font-size:14px;
}

/*--------------------------aside end----------------------------*/

.footer {
	background-color: lightblue;
	position: fixed;
	height: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
